{% extends "blog/base.html" %}
{% block content %}

{% for post in posts %}
 
      <article class="media content-section">
       <img class="rounded-circle account-img" src="{{ post.author.profile.image.url }}">
        <div class="media-body">
         <div class="article-metadata">
          <a class="mr-2" href="#">{{ post.author }}</a>
           <small class="text-muted">{{ post.date_posted | date:"F d, Y" }}</small>
         </div>
          <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
          <p class="article-content">{{ post.content }}</p>
        </div>
      </article>
 
    {% endfor %}
    
{% if api %}
	{% if api == "Error..." %}
		<div class="alert alert-danger" role="alert">
			<strong>Error: </strong>{{ error }}
        </div>
        
		There was a problem with the API or your ticker symbol, please try again...
	
	{% else %}
		
		<div class="card text-white bg-dark mb-3" style="max-width: 30rem;">
	  		<strong><div class="card-header "><h2 class="text-warning bg-dark">QUOTE: {{ api.symbol }}</strong></h2></div>
	  		<div class="card-body text-light">
	    		<h3 class="card-title, text-warning bg-dark">{{ api.companyName }} <em>({{ api.symbol}})</em><br/> 
	    		<p class="card-text">
	    		<h5 class="text-warning bg-dark"><strong>Price: ${{ api.latestPrice }}<br/><br/></h5></strong>
				Previous Close: ${{ api.previousClose }}<br/>
		
				Market Cap: {{ api.marketCap }}<br/>
				Volume: {{ api.latestVolume }}<br/>
				PE Ratio: {{ api.peRatio }} </br></br>

				Percent Change: {{ api.changePercent }}</br>	
				YTD Change: {{ api.ytdChange }}<br/></br>

				52Wk High: {{ api.week52High }}<br/>
				52Wk Low: {{ api.week52Low }}<br/></br>

				Open: ${{ api.open }}<br/>
				High: ${{ api.high }}<br/>
				Low: ${{ api.low }}<br/>
				Close: ${{ api.close }}<br/></p>
	  		</div>
		</div>

        
		
<!-- 	to list all api key: value pairs
		{% for key, value in api.items %}
			{{ key }}: {{ value }} </br>
		{% endfor %} -->

		
	{% endif %}
{% endif %}


{% endblock %}